<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Organizacion benefeciada</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- CSS -->
    <link href="../../../assets/styles/style.css" rel="stylesheet">
</head>

<body class="m-5">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid nav">
    
          <div class=" d-flex flex-column align-items-md-center">
          <a class="navbar-brand" href="../../../index.html">Tech4good</a>
          <i class="bi bi-pc-display-horizontal"></i>
          </div>
    
          <div class="nav-visible" id="user-options">
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ingresar
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="./donors.html">Donadores</a></li>
                    <li><a class="dropdown-item" href="./beneficiaryOrganization.html">Organizaciones Beneficiadas</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Gestionar
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="./donorManage.html">Donadores</a></li>
                    <li><a class="dropdown-item" href="./beneficiaryOrganizationManage.html">Organizaciones
                        Beneficiarias</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./products.html">Donaciones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./deliveryAct.html">Entregas</a>
                </li>
                <li class="nav-item">
                          <a class="nav-link" href="#">Nuestros beneficiados</a>
                      </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    <h1 class="text-center">GESTIONAR ORGANIZACION BENEFICIADA</h1>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <form>
        <div class="input-group flex-nowrap mb-4">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <input type="text" class="form-control border-primary" id="beneficiaryOrganization-identificationNumber"
                placeholder="Buscar por número de identificación" aria-label="Username"
                aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap  mb-4">
            <span class="input-group-text" ><i class="bi bi-people"></i></span>
            <input type="text" class="form-control border-primary" id="beneficiaryOrganization-nameOrganization" placeholder="Nombre de Organización" aria-label="Username"
                aria-describedby="addon-wrapping" disabled>
        </div>

        <div class="input-group  mb-4">
            <span class="input-group-text" id="addon-wrapping"><i class="bi bi-tags"></i></span>
            <!-- <button type="button" class="btn btn-outline-secondary border-primary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu  mb-4" >
                <li><a class="dropdown-item" href="#">Colegio</a></li>
                <li><a class="dropdown-item" href="#">Junta de accion comunal</a></li>
                <li><a class="dropdown-item" href="#">Iglesia</a></li>
            </ul> -->
            <select class="form-control border-primary" id="beneficiaryOrganization-organizationType" placeholder="Tipo organización" aria-label="Username"
                aria-describedby="addon-wrapping" disabled>
                <option class="dropdown-item" value="Colegio">Colegio</option>
                <option class="dropdown-item" value="Junta de acción comunal">Junta de acción comunal</option>
                <option class="dropdown-item" value="Iglesia">Iglesia</option>                
            </select>
        </div>

        <div class="input-group flex-nowrap  mb-4">
            <span class="input-group-text" ><i class="bi bi-envelope"></i></span>
            <input type="email" class="form-control border-primary" id="beneficiaryOrganization-email" placeholder="Correo electrónico" aria-label="Username"
                aria-describedby="addon-wrapping" disabled>
        </div>
        <div class="input-group flex-nowrap  mb-4">
            <span class="input-group-text" ><i class="bi bi-telephone"></i></span>
            <input type="tel" class="form-control border-primary" id="beneficiaryOrganization-phoneNumber" placeholder="Número telefono" aria-label="Username"
                aria-describedby="addon-wrapping" disabled>
        </div>
        <div class="input-group flex-nowrap  mb-4">
            <span class="input-group-text" ><i class="bi bi-person"></i></span>
            <input type="text" class="form-control border-primary" id="beneficiaryOrganization-contactPerson" placeholder="Persona de contacto" aria-label="Username"
                aria-describedby="addon-wrapping" disabled>
        </div>
        <div class="input-group flex-nowrap  mb-4">
            <span class="input-group-text" ><i class="bi bi-geo-alt"></i></span>
            <input type="text" class="form-control border-primary" id="beneficiaryOrganization-addressOrganization" placeholder="Dirección" aria-label="Username"
                aria-describedby="addon-wrapping" disabled>
        </div>
        <div class="input-group flex-nowrap">
            <span class="input-group-text" ><i class="bi bi-geo"></i></span>
            <input type="text" class="form-control border-primary" id="beneficiaryOrganization-city" placeholder="Ciudad" aria-label="Username"
                aria-describedby="addon-wrapping" disabled>
        </div><br>
        
        <!-- Botón Guardar -->
        <button type="reset" class="btn btn-success border-primary" id="btn-save" onclick="updateBeneficiaryOrganizationBtn()" disabled>
            <i class="bi bi-save"></i> Guardar
        </button>

        <!-- Botón Eliminar -->
        <button type="reset" class="btn btn-danger border-primary" id="btn-delete" onclick="deleteBeneficiaryOrganizationBtn()" disabled>
            <i class="bi bi-trash"></i> Eliminar
        </button>

        <!-- Botón Editar -->
        <button type="button" class="btn btn-warning border-primary" id="btn-edit" onclick="editBeneficiaryOrganization()" disabled>
            <i class="bi bi-pencil-square"></i> Editar
        </button>

        <!-- Botón Buscar -->
        <button type="button" class="btn btn-primary border-primary" id="btn-find" onclick="findBeneficiaryOrganization()">
            <i class="bi bi-search"></i> Buscar
        </button>

    </form>
</div>


    <script src="../../services/service.js"></script>
    <script src="../../controllers/controller.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>