
nav{
    display: flex;
    justify-content: space-between;
}

.image-container{
     display: flex;
     justify-content: center;
     align-items: center;
}
.color{
    background-color: #fdae38 ;
    padding: 7px;
    border-radius: 10px;
}

.colorOrange{
    background-color: #fdae38;
    border-radius: 5px;
    padding: 6px;
}

.nav-visible {
    visibility:visible; 
}

.nav-hidden {
    visibility:hidden;
    display: none;     
}

.section-login-hidden{
    visibility:hidden;
    display: none;
}

footer{
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 0);
    left: 50vw;  
}