
.nav{
    display: flex;
    justify-content: center;
}

.image-container{
     display: flex;
     justify-content: center;
     align-items: center;
}
.color{
    background-color: #fdae38 ;
    padding: 7px;
    border-radius: 10px;
}

.colorOrange{
    background-color: #fdae38;
    border-radius: 5px;
    padding: 6px;
}

.nav-visible {
    visibility:visible; 
}

.nav-hidden {
    visibility:hidden;
    display: none;     
}

.section-login-hidden{
    visibility:hidden;
    display: none;
}

.section-login{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50vw;
    top: 50vh;
    background-color: white;
    border-radius: 15px;
    width: 600px;
    padding: 0.5rem;
    max-width: 80vw;
    max-height: 80vh;
    margin: 0 auto;
    z-index: 2;
    
}

footer{
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 0);
    left: 50vw;  
    width: 100vw;
    height: 15vh;
}

footer li{
    list-style: disc ;
}

.body-index{
    overflow: hidden;
}

.img-center{
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50vh;
    left: 50vw;
    z-index: -1;

}

.img-center img{
    width: 100%;
    height: 68vh;
    object-fit: cover;
}